@media(min-width: 1201px) {
    .me-img-parent {
        margin-right: -20vw;
    }

    .me-text {
        padding: 15px 30px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 300px;
        display: block;
        position: absolute;
        text-align: left;
        z-index: -1;
        top: 40vh;
        left: 10%;
    }
}

@media(max-width: 1200px) {
    .me-img-parent {
        margin-right: -10vw;
    }

    .me-text {
        display: none;
    }

}

@media(max-width: 965px) {
    .me-img-parent {
        margin-right: 0;
    }
}

.me-image {
    max-height: 70vh;
}