

@media(max-width: 959px) {
    .left-side-text{
        transform: rotate(0deg);
        text-align: left;
    }
    .section-container{
        padding: 2em;
    }
    .small-icon-image{
        margin: 1em 0;
        padding: .4em;
    }

    .middle-circle {
        width: 200px;
        overflow: hidden;
    }
    
    .middle-circle img {
        width: 100%;
    }
    
}

@media(min-width: 960px) {
    .left-side-text {
        transform: rotate(90deg);
        position: absolute;
        left: 30px;
        width: 500px !important;
        margin-left: -100px !important;
    }
    .middle-circle {
        width: 150px;
        height: 150px;
        background: white;
        box-sizing: border-box;
        border-radius: 50%;
        margin-left: -81px;
        overflow: hidden;
        position: relative;
        border: 5px solid white
    }
    
    .second-left-side {
        border-right: 10px solid white;
    }
    
    .middle-circle img {
        width: 100%;
    }
    
}

.empty-left-side {
    height: 80vh;
}

.empty-left-side-half {
    height: 40vh;
}

.border-color-secondary {
    border-color: #c4e8ff !important;
}

.background-color-secondary {
    background-color: #c4e8ff !important;
}

.contact-info div {
    vertical-align: middle;
}

.my-inline-list {
    padding: 0;
    margin: 0.5em 0;
    text-align: left;
    color: #444;
    font-size: 0.8em;
}

.my-inline-list li {
    display: inline-block;
    padding-left: 3em;
}