.home-section{
    margin-top: 30vh;
    height: 70vh;
}

.arrow-key{
    cursor: pointer;
    animation: down 1s infinite ease-in-out;
}

@keyframes down {
    0% {padding-top: 0px;}
    50% {padding-top: 10px;}
    100% {padding-top: 0px;}
  }